<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <div style="display: flex; justify-content: center">
    <div class="form-container">
      <h1>Login</h1>

      <!-- Username -->
      <div>
        <div>
          <h2>Username</h2>
          <input
            matInput
            placeholder="Ex. profanis"
            formControlName="username"
          />
        </div>
      </div>
      <!-- /Username -->

      <!-- Password -->
      <div>
        <div>
          <h2>Password</h2>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
          />
        </div>
      </div>
      <!-- /Password -->

      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </div>
</form>
