.title {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #00bfff;
    text-shadow: -10px -10px #ff8c00;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;


    animation: neon 8s ease-in-out infinite;
}

@keyframes neon {
    0% {
        text-shadow: -10px -10px #ff8c00;
    }

    25% {
        text-shadow: 10px -10px #ff0ecb;
    }

    50% {
        text-shadow: 10px 10px #0eff2e;
    }

    75% {
        text-shadow: -10px 10px #ff0000;
    }

    100% {
        text-shadow: -10px -10px #ff8c00;
    }
}