.cool-button {
  background-color: #7fc4fa;
  border: 3px solid #de3c78;
  color: #de3c78;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;

  margin: 200px;

  margin-right: 16px;
  border-right: dotted;
  padding-right: 16px;
  border-top: dotted;
  border-bottom: dotted;
  margin-left: 16px;
  border-left: dotted;
  padding-left: 16px;

}

.cool-button:hover {
  background-color: #de3c78;
  border: 3px solid #7fc4fa;
  color: #7fc4fa;
  transform: scale(1.6);

  margin-right: 16px;
  border-right: dotted;
  padding-right: 16px;
  border-top: dotted;
  border-bottom: dotted;
  margin-left: 16px;
  border-left: dotted;
  padding-left: 16px;
}