.cool-button {
  background-color: #00bfff; 
  border: 3px solid #ff0ecb;
  color: #ff0ecb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;

}

.cool-button:hover {
  background-color: #ff0ecb; 
    border: 3px solid #00bfff; 
  color: #00bfff; 
  transform: scale(1.1);
}