 p {
     font-size: 50px;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     color: black;
     margin: auto;

     /* Optional Styling */
     padding: 20px;
     animation: grow-and-shrink 15s ease-in-out infinite;
     text-shadow: -2px 0 #de3c78, 0 2px #de3c78, 2px 0 #7fc4fa, 0 -2px #7fc4fa;
     visibility: visible;
 }

 .column {
  float: center;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 @keyframes grow-and-shrink {
     0% {
         transform: scale(1);
     }

     25% {
         transform: scale(1.1);
     }

     50% {
         transform: scale(1);
     }

     75% {
         transform: scale(0.7);
     }

     100% {
         transform: scale(1);
     }
 }