table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 100px;
    
  }
  
  th,
  td {
    border-style:solid;
    border-width: 8px;
    border-color: #de3c78;
    padding: 20px;
    text-align: left;
    font-size: 60px;
    background-color: #7fc4fa;
    background: rgba(222,	60	,120,0.3);

  }
  
  th {
    background-color: #de3c78;
    font-weight: bold;

  }
  
  td img {
    width: 500px;
    height: 500px;
    margin-right: 10px;
    float: left;
  }
  
  td p {
    margin: 0;
  }
  
  .item-name {
   padding-top: 100px;
    font-weight: bold;
    color: #de3c78;
    align-self:center;
  }
  .item-description {
      color: black;
      font-weight: bold;
    }
  
  .item-price {
    color: green;
    font-weight: bold;
  }
  
  .item-image {
      color: green;
      font-weight: bold;
      border: 5px solid #de3c78;
      display: inline-block;
    }
  
  button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  